plants.forEach(plant => {
  const plantItem = document.createElement('li');
  plantItem.innerHTML = `
    <strong>${plant.name}</strong> (${plant.type})<br>
    Water Frequency: ${plant.waterFrequency}<br>
    Light Requirement: ${plant.lightRequirement}<br>
    Description: ${plant.description || 'No description'}<br>
    <div id='buttons-container'><button onclick="deletePlant('${plant._id}')">Delete</button>
    <button onclick="editPlant('${plant._id}')">Edit</button></div>
    
    <hr>
  `;
  plantListElement.appendChild(plantItem);
});